body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.6fr 1.4fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: stretch;
    grid-template-areas:
      "title ingredients"
      "title recipe"
      "recipeGenerator recipe";
  }
  
.recipe { 
    grid-area: recipe; 
}

.title { 
    grid-area: title; 
}

.recipeGenerator { 
    grid-area: recipeGenerator; 
}
  
.ingredients {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: stretch;
    align-content: end;
    grid-template-areas:
      ". . ."
      "ingredient01 ingredient02 ingredient03"
      "ingredient04 ingredient05 ."
      ". . .";
    justify-self: stretch;
    align-self: stretch;
    grid-area: ingredients;
}
  
.ingredient01 { 
      grid-area: ingredient01; 
}
  
.ingredient02 { 
    grid-area: ingredient02; 
}
  
.ingredient03 { 
    grid-area: ingredient03; 
}
  
.ingredient04 { 
    grid-area: ingredient04; 
}
  
.ingredient05 { 
    grid-area: ingredient05; 
}
  
